.footer {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    width: 100%;
    background-color: rgb(23,23,23);
    padding: 0.05rem;
    border-top: 1px ridge white;
    margin-top: 1rem
}